{% extends 'WurstpressCoreBundle::layout.html.twig' %}

{% block body -%}

<div class="span10">
    <h1>Collection creation</h1>

    <form action="{{ path('wurstpress_collection_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-primary">Create</button>
        </p>
    </form>

        <ul class="inline">
    <li>
        <a href="{{ path('wurstpress_collection') }}" class="btn">Back to the list</a>
    </li>
</ul>
</div>
{% endblock %}
